@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Hurricane&family=Inspiration&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700&family=Quicksand:wght@700&display=swap");
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.home {
  margin: 2rem auto;
  width: 100%;
}
.home .wrapper {
  width: 100%;
  margin: auto;
}

.banner {
  background-image: url("http://demo.tutsflow.com/foodera/images/bg/3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 6rem 15px;
}
.banner .banner_title {
  font-size: 48px;
  color: #43121d;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  margin: 25px 0px;
}
@media (min-width: 720px) {
  .banner .banner_title {
    max-width: 60%;
  }
}
.banner .banner_p {
  color: #555555;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding-bottom: 20px;
  line-height: 38px;
}
@media (min-width: 720px) {
  .banner .banner_p {
    max-width: 60%;
  }
}
.banner .banner-btn {
  background: #a82d49;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-transform: capitalize;
  padding: 11px 28px;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.stats {
  background-color: #a82d49;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px auto;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-top: 40px;
}
@media (min-width: 720px) {
  .stats {
    padding-bottom: 0;
  }
}
.stats .stats-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 60%;
}
@media (min-width: 720px) {
  .stats .stats-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
  }
}
.stats .stats-container .stat-element {
  color: #fff;
  font-size: 40px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}
.stats .stats-container .stat-element:not(:last-child) {
  margin-bottom: 33px;
}
.stats .stats-container .stat-element .number {
  font-weight: 400;
  letter-spacing: 1px;
}
.stats .stats-container .stat-element p {
  font-weight: 400;
  font-size: 16px;
  color: rgb(168, 148, 148);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.sample_show {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 90%;
  margin: 100px auto;
}
@media (min-width: 720px) {
  .sample_show {
    flex-direction: row;
  }
}
@media (min-width: 960px) {
  .sample_show {
    align-items: center;
  }
  .sample_show .image-show {
    max-width: 650px;
  }
}
.sample_show .text {
  margin-left: 20px;
}
.sample_show .header {
  font-size: 36px;
  color: #43121d;
  font-size: 32px;
  font-family: "Quicksand", sans-serif;
  line-height: 45px;
  font-weight: 700;
}
.sample_show p {
  font-size: 16px;
  color: #555;
  line-height: 28px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  margin: 20px 0;
}
.sample_show button {
  background: #a82d49;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-transform: capitalize;
  padding: 15px 28px;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 30px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.slogan_outer {
  background-image: url("http://demo.tutsflow.com/foodera/images/parallax/1.jpg");
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6rem 0;
}
@media (min-width: 720px) {
  .slogan_outer .banner_two {
    width: 60%;
    margin: 0 auto;
  }
}
.slogan_outer .banner_two_title {
  color: #a82d49;
  font-family: "Quicksand", sans-serif;
  padding-top: 40px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 36px;
  text-align: center;
}
.slogan_outer .banner_two_p {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #555;
}

.grid_title {
  margin: 20px auto;
  width: 90%;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 36px;
  color: #43121d;
}

.grid_paragraph {
  color: #555;
  line-height: 28px;
  font-weight: 400;
  width: 60%;
  margin: 10px auto;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.5px;
  text-align: center;
}

.container-grid {
  width: 90%;
  margin: 50px auto;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}
@media (min-width: 720px) {
  .container-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 960px) {
  .container-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.container-grid .grid-item .image-container {
  width: 100%;
  height: 100%;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */