@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Hurricane&family=Inspiration&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700&family=Quicksand:wght@700&display=swap");
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Nav_wrapper {
  font-family: sans-serif;
  width: 60%;
  margin: 0 auto;
}
.Nav_wrapper .logo {
  font-size: 32px;
}
.Nav_wrapper .title {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.Nav_wrapper .search_section {
  width: 100%;
  text-align: center;
}
.Nav_wrapper .search_section .search {
  width: 50%;
  margin: 10px auto;
  padding: 15px 20px;
  border-radius: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 22px;
}
.Nav_wrapper .search_section .search:focus {
  outline: none;
}
.Nav_wrapper .icons {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 0 auto;
  padding-top: 20px;
}
.Nav_wrapper .icons .main_icon_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-radius: 50%;
  padding: 15px;
  transition: all 0.6s ease;
  background-image: linear-gradient(to right, #ffecd2, #fdb8a1);
}
.Nav_wrapper .icons .main_icon_container:hover {
  background-image: linear-gradient(to right, #a38ed2, #f9c1eb);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.home {
  margin: 2rem auto;
  width: 100%;
}
.home .wrapper {
  width: 100%;
  margin: auto;
}
.home .wrapper .slider_title {
  margin-top: 40px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 32px;
}
.home h1 {
  margin-bottom: 20px;
  text-transform: capitalize;
}

.banner {
  background-image: url("http://demo.tutsflow.com/foodera/images/bg/3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 0px 15px;
}
.banner .banner_title {
  font-size: 48px;
  color: #43121d;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  margin: 25px 0px;
}
.banner .banner_p {
  color: #555555;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding-bottom: 20px;
}
.banner .banner-btn {
  background: #a82d49;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-transform: capitalize;
  padding: 11px 28px;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 20px;
  border-radius: 20px;
  border: none;
}

.stats {
  background-color: #a82d49;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 46px;
}
.stats .stats-container {
  display: flex;
  flex-direction: column;
  height: 60%;
}
.stats .stats-container .stat-element {
  color: #fff;
  font-size: 40px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}
.stats .stats-container .stat-element:not(:last-child) {
  margin-bottom: 33px;
}
.stats .stats-container .stat-element .number {
  font-weight: 700;
  letter-spacing: 1px;
}
.stats .stats-container .stat-element p {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 1px;
}

.slide-element {
  border-radius: 1rem;
  overflow: hidden;
  height: 15rem;
  cursor: pointer;
}
.slide-element p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  font-size: 20px;
  font-weight: 600;
}

img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.container-grid {
  width: 100%;
  margin: 20px auto;
  border: 1px solid black;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
}
.container-grid .grid-item {
  outline: 1px solid red;
}
.container-grid .grid-item .image-container {
  width: 100%;
  height: 80%;
  outline: 1px solid purple;
  background-color: #777;
}
.container-grid .grid-item .text-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
}/*# sourceMappingURL=main.css.map */